{% extends 'home.html' %}

{% block content %}

<!-- {% if category.name == "Cookies" %} -->
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStart" aria-controls="offcanvasStart">Cookies</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn btn-primary">Sweet flavor</button>
    <button type="button" class="btn btn-primary">Salty flavor</button>
    <button type="button" class="btn btn-primary">Spicy flavor</button>
  </div>
  <div class="offcanvas-body">

  </div>
</div>
<for >
<!-- {% endif %} -->

{% endblock %}