<!DOCTYPE html>
<html lang=“en”>
<head>
    <meta charset=“UTF-8”>
    <meta http-equiv=“X-UA-Compatible” content=“IE=edge”>
    <meta name=“viewport” content=“width=device-width, initial-scale=1.0”>
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">한입할래?</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              {% block content %}
            {% endblock %}
            {% for c in categories %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'category' c.id %}" >{{c.name}}</a>
            </li>
            {% endfor %}
            </ul>
            <a class="btn btn-default" href="{% url 'login' %}" role="button">Login</a>
            <a class="btn btn-default" href="{% url 'signup' %}" role="button">SignUp</a>
            <form type="get" action="." style="margin: 0" class="d-flex">
              <input id= "search-box"class="form-control me-2" type="text" name="search_box" placeholder="Search" aria-label="Search">
              <button id= "search-submit"class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="snacks">
        {% for snack in eatings %}
        <li class="snacks-list">
            <a class="" href="{% url 'review' pk=snack.pk %}" >{{snack.name}}</a>
            {% if snack.image %}
            <img src="{{snack.image.url}}" width=100>
            {% endif %}
        </li>
        {% endfor %}
      </div>
    <div class="paginator">
        {% if eatings.has_previous %}
        <a href="?page=1">처음</a>
        <a href="?page={{eatings.previous_page_number}}">이전</a>
        {% endif %}
        <span>{{eatings.number}}</span>
        <span>of</span>
        <span>{{eatings.paginator.num_pages}}</span>
        {% if eatings.has_next %}
        <a href="?page={{eatings.next_page_number}}">다음</a>
        <a href="?page={{eatings.paginator.num_pages}}">마지막</a>
        {% endif %}
    </div>
</body>
</html>